* {
    font-family: "Roboto", sans-serif;
    }
  
  header {
    position: relative;
  }
  nav {
    height: 50px;
    background-color: #212121;
    }
  
  .menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
    }

  .menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
  }

  .subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
  
  }

  .subheader .logo_img {
    margin-top: 16px;
    height: 21px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
  }

  .subheader .logo_text {
    margin-top: 6px;
    height: 13px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
  }

  .subheader .subheader_call {
    margin-top: 19px;
    height: 11px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
  }

  .subheader .subheader_phone {
    margin-top: 8px;
    height: 16px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
  }

  .subheader .logo_button {
    margin-top: 19px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

  .promo {
    height: 799px;
    background-image: url("../img/Iber_main.jpg") }

.promo .promo_header {
  margin-top: 67px;
  margin-bottom: none;
  height: 97px;
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.promo .promo_subheader {
  margin-bottom: none;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.promo .promo_descr {
  margin-top: 23px;
  height: 161px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
}

.promo .promo_button {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.reasons {
  padding: 71px 0 65px 0;
  height: 900px;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  padding-top: 38px;
  height: 27px;
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reasons .reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.reasons .round_reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons .reasons_descr {
  width: 342px;
}

.reasons .reasons_title {
  margin-top: 35px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons .reasons_subtitle {
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}